extends layout

block content

  .main
    .rigth-content
      .text
        h2  جامعه دختران و تکنولوژی
        p  ما یک جامعه نوپا هستیم که میخوایم با کمک هم دخترای بیشتری رو وارد حوزه تکنولوژی کنیم پس اگه دوست داری به ما ملحق بشی همینجا ثبت نام کن 
      
      .login
        input.email(type="text" placeholder="ایمیل") 
        input.login-btn(type="button" value="عضویت")
      
    .left-content
      img(src="/images/femotech.png")
      p Femail Organization In Tech 
      
      

